[submodule "microservice-object-services/spring-microservices-kubernetes-demo"]
	path = microservice-object-services/spring-microservices-kubernetes-demo
	url = https://github.com/teamlead/spring-microservices-kubernetes-demo
